/**
 * CSS for our admin pages.
 */

/*
 * Edit Sermon Page: Sermon Details meta box.
 */
#fw-sermons-details input[type="button"] {
    margin: 5px 2px 0;
}
#fw-sermons-details .fw-sermons-document-meta-fields {
    padding: 5px 0 0;
}
#fw-sermons-details .fw-sermons-document-meta-fields th,
#fw-sermons-details .fw-sermons-document-meta-fields td {
    padding: 0 15px 0 0;
    vertical-align: top;
    width: 40%;
}
#fw-sermons-details .fw-sermons-document-meta-fields th {
    padding-bottom: 5px;
}
#fw-sermons-details .fw-sermons-document-meta-fields td:last-child {
    width: 20%;
}
#fw-sermons-details .fw-sermons-document-meta-fields input[type="text"] {
    width: 100%;
}
#fw-sermons-details .fw-sermons-document-meta-fields p.description {
    margin: 5px 0 10px;
}

/*
 * Taxonomy Page(s)
 */
/* Hide the 'Parent' form field. We don't want our taxonomies to
   have sub-taxonomies. */
.post-type-sermon .form-field.term-parent-wrap {
    display: none;
}
/* Images for the 'Add New Speaker' page and any other taxonomy pages
   that desires to load/view an image. */
.post-type-sermon .form-field .fw-sermons-image-upload-wrapper {
    margin: 1em 0;
}
.post-type-sermon .form-field .fw-sermons-image-upload-wrapper img {
    max-width: 100%;
}

